{% extends 'base.html' %}

{% block title %}
	To-DO Login
{% endblock %}

{% block pagename %}
	Login
{% endblock %}

{% block content %}
	<div style="margin: 0 auto; width: max-content">
		<form action="" method="post">
			{% csrf_token %}
			{% for item in form %}
				{% if item.id_for_label != 'id_captcha' %}
					<label for="{{ item.id_for_label }}">{{ item.label }}</label>
				{% else %}
					<br>
				{% endif %}
				{{ item }}
			{% endfor %}
			<br>
			<button class="btn-success btn" type="submit" value="Login">Login</button>
		</form>
		<br>
		<p>If you forgot password, try <a href="{% url 'password_reset' %}"><u>reset</u></a></p>
	</div>
{% endblock %}
