{% extends 'base.html' %}

{% block title %}
	Password Reset
{% endblock title %}

{% block pagename %}
	Reset Your Password
{% endblock %}

{% block content %}

	{% if validlink %}
		<form action="" method="post">
			<div style="margin: 0 auto; width: max-content">
				<form action="" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
					{% for item in form %}
						<label for="{{ item.id_for_label }}">
							{{ item.label }}
						</label>
						{{ item }}
						<small class="text-muted">{{ item.help_text }}</small><br>
					{% endfor %}
					<button class="btn-success btn" type="submit" value="Reset Password">Reset Password</button>
				</form>
			</div>
		</form>

	{% else %}
		<div class="alert alert-warning">
			The password reset link was invalid, possibly because it has already been used.
			Please request a new password reset.
		</div>
	{% endif %}
{% endblock content %}