{% extends 'base.html' %}

{% block pagename %}
	To Do
{% endblock %}

{% block content %}
	<form action="" method="get">
		<div class="pb-2">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-row align-items-center">
						<input type="text" name="search" class="form-control" style="margin-right: 2%"
							   placeholder="Search task...">
						<div>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
		<a href="{% url 'create' %}" style="margin-right: auto">
			<button class="btn btn-success btn-lg">NEW TASK</button>
		</a>
		{% if cnt %}
			<p class="small mb-0 me-2 text-muted">
				<u>You have {{ cnt }} uncompleted task(-s)</u>
			</p>
		{% endif %}

		{#		<select class="select" style="border-radius: 5px; background-color: white;">#}
		{#			<option value="1">All</option>#}
		{#			<option value="2">Completed</option>#}
		{#			<option value="3">Active</option>#}
		{#			<option value="4">Has due date</option>#}
		{#		</select>#}
		{#		<p class="small mb-0 ms-4 me-2 text-muted">Sort</p>#}
		{#		<select class="select" style="border-radius: 5px; background-color: white;">#}
		{#			<option value="1">Added date</option>#}
		{#			<option value="2">Due date</option>#}
		{#		</select>#}
		{#		<a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i#}
		{#				class="fas fa-sort-amount-down-alt ms-2"></i></a>#}

	</div>

	{% include 'app/list_task.html' %}

	{% if completed > 1 %}
		<a href="{% url 'drop' %}">
			<button class="mt-2 btn btn-lg btn-outline-dark">Drop completed</button>
		</a>
	{% endif %}

{% endblock %}