{% extends 'base.html' %}

{% block pagename %}
	To Do
{% endblock %}

{% block content %}
	<form action="{% url 'search' %}" method="get">
		<div class="pb-2">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-row align-items-center">
						<input type="text" name="search" class="form-control" style="margin-right: 2%"
							   placeholder="Search task...">
						<div>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
		<div style="margin-right: auto">
			<a href="{% url 'create' %}" title="Add New Task">
				<button class="btn btn-success btn-lg text-center"><i class="fas fa-plus"></i></button>
			</a>
			{% if completed > 1 %}
				<a href="{% url 'drop' %}" title="Remove all completed">
					<button class="mt-1 btn btn-lg btn-outline-dark"><i class="fas fa-ban"></i></button>
				</a>
			{% endif %}
		</div>
		{% if completed %}
			<p class="small mb-0 me-2 text-muted">
				<u>You have {{ completed }} uncompleted task(-s)</u>
			</p>
		{% endif %}
	</div>

	{% include 'app/list_task.html' %}

{% endblock %}