{% extends 'base.html' %}

{% block pagename %}
	Login
{% endblock %}

{% block content %}
	<div style="margin: 0 auto; width: max-content">
		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn-success btn" type="submit" value="Login">Login</button>
			<a href="{% url 'registration' %}">
				<button class="btn btn-secondary" style="margin-left: 10px" type="button">Register</button>
			</a>
		</form>
		<br>
		<p>Don't have an account? <a href="{% url 'registration' %}">Registration</a></p>
	</div>
{% endblock %}