{% extends 'base.html' %}

{% block pagename %}
	Login
{% endblock %}

{% block content %}
	<div style="margin: 0 auto; width: max-content">
		<form action="" method="post">
			{% csrf_token %}
			{% for item in form %}
				<label for="{{ item.id_for_label }}">{{ item.label }}</label>
				{{ item }}
			{% endfor %}
			<button class="btn-success btn" type="submit" value="Login">Login</button>
		</form>
		<br>
		<p>Don't have an account? <a href="{% url 'registration' %}">Registration</a></p>
	</div>
{% endblock %}